<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button>
        <ion-img src="assets/icon/favicon.png" style="width: 38px; height: 38px"></ion-img>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center">{{headerTitle}}</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-img [src]="authenticationIcon" style="width: 38px; height: 38px"
                 (click)="this.authenticationService.getIsAuthenticated() ? this.authenticationService.logout() : openAuthenticationModal()"></ion-img>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
